@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLT65Medium.ttf') format('ttf');
  font-weight: 'normal';
  font-style: 'normal';
}

/*=============== BASE ===============*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: none; }

  ::-webkit-scrollbar {
    display: none; }

body {
  font-family: 'HelveticaNeue', sans-serif;
  overflow-x: hidden;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  display: inline-block;
}
button,
input{
  border: none;
  outline: none;
}

button{
  cursor: pointer;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

@mixin aspect-ratio($width, $height, $displayType: block, $important:false) {

  display: $displayType;
  position: relative;

  @if $important {
    padding-top: ($height / $width) * 100% !important;
  }
  @else {
    padding-top: ($height / $width) * 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*=============== VARIABLES CSS ===============*/

$header-height: 3rem;

  /*========== Colors ==========*/
  $orange-brand: #F0380F;
  $dark: #18181B;
  $White: #FFF;
  $light-grey-border: #E4E4E4;
  $bgColor: #F4F4F4;

/*=============== HEADER ===============*/
.header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent;

  &-nav__logo {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: $dark;
  }

  &.scroll-header {
    background-color: $White;

    .nav {
      height: 3rem;
    }
  }
}


/*=============== NAV ===============*/

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  line-height: 3rem;
  transition: all .5s linear;
}

.nav.container {
  margin-left: 2rem; 
  margin-right: 2rem; 
}

.header-nav__menu {
  display: none;
}

.container{
  max-width: 100%;
}


/*===============  COVER ===============*/

.cover {
  position: relative;
  z-index: 0;

  &__wrapper-media {
    min-height: 100vh;
      @include aspect-ratio(9, 16);
  }

  &__wrapper-texts {
    position: absolute;
    top: 14%;
    z-index: 100;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
  }

  &__subtitle {
    margin-bottom: 20px;
    color: $orange-brand;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all .5s linear;
  }

  &__title {
    line-height: 34px;
    font-size: 22px;
    font-weight: 500;
    margin: auto;
    transition: all .6s linear;
  }

  
  &__offre-special {
    position: absolute;
    right: 30px;
    bottom: -20px;
    width: 154.33px;
    height: 154.33px;
    border-radius: 50%;
    text-transform: uppercase;
    background: #F0380F;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    transform: rotate(29.91deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    color: $White;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-150px);
    transition: all .5s linear;

    h5 {
      font-size: 12px;
      line-height: 14px;
    }

    p {
      font-weight: bold;
      font-size: 29px;
      line-height: 35px;
    }

    span {
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      font-style: italic;
    }
  }

}

/*===============  INTRO ===============*/

.intro {

  &__container {
    padding: 50px 36px;
    text-align: center;
  }

  &__wrapper-texts {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .1s linear;
  }

  &__link {
    padding: 18px 30px 20px;
    background: $orange-brand;
    border-radius: 150px;
    color: $White;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
    font-size: 16px;
    line-height: 20px;
  }
  
}

/*===============  ADVANCED ===============*/

.advanced {

  margin-bottom: 25px;

  &__wrapper-texts {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
  }

  h4 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  &__wrapper-media {
    @include aspect-ratio(8, 5);
  }
}

/*===============  SLIDER IMAGE ===============*/

.slider-image {

  &__pagination {
    margin-bottom: 16px;
  }
}


/*===============  SITUATION ===============*/

.situation {
  padding-top: 52px;

  &__subtitle {
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: $orange-brand;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
  }

  &__wrapper-texts {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;

    i {
      margin-bottom: 21px;
      color: $orange-brand;
      font-size: 35px
    }

    h4 {
      font-weight: 500;
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 21px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__wrapper-media {
    @include aspect-ratio(416, 416);
    margin-bottom: 30px;
  }

}

/*===============  CHOOSE ===============*/

.choose {
  background-color: $bgColor;

  &__wrapper-head {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 25px;
  }

  &__link {
    background-color: $orange-brand;
    border-radius: 150px;
    padding: 18px 30px 20px;
    color: $White;
    text-align: center;
  }

  &__card {
    width: calc(100%/2);
  }
}

/*===============  TESTIMONIALS ===============*/

.testimonials {
  
  background-color: $orange-brand;
  color: $White;

  &__container {
    padding-top: 51px;
    padding-bottom: 51px;
  }

  &__wrap-texts {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    p {
      font-weight: 500;
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 20px;
    }

    h5 {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__pagination {
    position: initial;
    margin-top: 24px;
  }
}


/*===============  PRODUCTS ===============*/

.products {
  
  text-align: center;

  &__container{
    margin: 0;
    padding-bottom: 60px;
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 40px;
  }

  &__card {
    border: 1px solid $light-grey-border;
    box-sizing: border-box;
    border-radius: 5px;
    width: 242px;
    padding-top:24px;
    padding-bottom:24px;
  }

  &__wrapper-media {
    @include aspect-ratio(209, 209);
    margin-bottom: 20px;
  }

  &__texts-small {

    h5 {
      font-weight: 500;
      font-size: 15px;
      line-height: 34px;
      margin-bottom: 10px;
    }
  }
}

/*===============  FOOTER ===============*/


.footer {

  background-color: $bgColor;

  &__container {
    padding: 60px 36px;
  }

  &__container-logo {
    margin-bottom: 30px;
    width: 132.67px;
    height: 30.01px;
  }

  &__nav-item {
    
    span {
      font-weight: 500;
      font-size: 22px;
      line-height: 34px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  &__container-secondLogo {
    width: 73px;
    height: 66px;
  }

}

/*===============  POPUP ===============*/

[data-popup="true"] #popup {
  opacity: 0!important;
  visibility: hidden!important;
}

.popup {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 5000;
  transition: all .5s linear;

  #checkbox {
    display: none;
  }

  &__container {
    background-color: $White;
    width: 90%;
    box-shadow: 0 .4rem 4rem -.4rem rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 82px 0;
    
  }

  &__close {
    position: absolute;
    top: 10%;
    right: 10%;

    cursor: pointer;

    i {
      font-size: 40px;
      color: $light-grey-border;
    }
  }

  &__wrapper-texts {
    text-align: center;

    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 60px;
      height: 60px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
    }

    h4 {
      font-weight: 500;
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 20px;
    }

    p {
      font-size: 15px;
      line-height: 20px;

      &:first-of-type{
        margin-bottom: 15px;
      }
    }
  }
}

.swiper-pagination-bullet {
  background-color: $White;
  opacity: 1;
  margin-right: 10px!important;
}

.swiper-pagination-bullet-active {
  background-color: $dark;
}

/*===============  BREAKPOINTS ===============*/


@media (min-width: 668px) and (max-width: 1079px) {
  
  .popup {

    &__container {
      width: 70%;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .choose__wrapper-head {
    max-width: 60%;
  }
}

@media (min-width: 768px) and (max-width: 1079px){

  .cover {

    &__wrapper-media {
      @include aspect-ratio(800, 1000);
    }
  }

  .intro__container{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }



}


/* For large devices */
@media screen and (min-width: 1080px){ 

  .nav{
    height: 5.5rem;
    justify-content: space-between;
    align-items: center;

    &.container {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .header-nav{
    &__menu {
      display: flex;
    }

    &__list {
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 3.5rem;

      .nav__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $dark;

        
      }

      .nav__link-buy{
        background-color: $orange-brand;
        padding: 10px 20px 10px;
        border-radius: 150px;
        color: $White;
      }
    }
  }
  
  .container{
    max-width: 80%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  /*===============  COVER ===============*/
  .cover {

    &__wrapper-media {
        @include aspect-ratio(1440, 1563);
    }

    &__wrapper-texts {
      width: 60%;
      top: 14%;
    }

    &__subtitle {
      margin-bottom: 30px;
    }

    &__title  {
      font-size: 52px;
      line-height: 60px;
      width: 100%;
    }

    &__offre-special {
      width: 227.24px;
      height: 227.24px;

      bottom: 45%;
      right: 10%;

      transition: unset;

      h5 {
        font-size: 19px;
        line-height: 23px;
      }

      p {
        font-size: 44px;
        line-height: 54px;
      }

      span {
        font-size: 15px;
        line-height: 18px;
      }
    }

  }

  /*===============  INTRO ===============*/

  .intro {

    &__container {
      max-width: 50.813rem;
      margin-left: auto;
      margin-right: auto;

      padding: 90px 20px 40px 20px;
    }

    &__wrapper-texts {
      font-size: 22px;
      line-height: 34px;

      p {
        margin-bottom: 35px;
      }
    }
  }

  /*===============  ADVANCED ===============*/

  .advanced {

    &__wrapper-media  {
      @include aspect-ratio(7, 3);
      margin-bottom: 0;
    }

    &__wrapper-media {
      width: 60%
    }

    &__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    &__wrapper-texts {
      margin: 0;
      width: 30%;
      display: flex;
      align-items: center;
    }

    &__wrap {
      text-align: left;

      h4 {
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 20px
      }

      p{
        font-size: 22px;
        line-height: 34px;
      }
    }
  }

  /*===============  SLIDER IMAGE ===============*/

  .slider-image {

    &__wrapper-media {
      @include aspect-ratio(1440, 700);
    }

    &__pagination {
      margin-bottom: 30px;
    }
  }

  /*===============  SITUATION ===============*/
  .situation {
    padding-top: 90px;

    &__subtitle {
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 20px;
    }

    &__title {
      margin-bottom: 90px;
      font-size: 52px;
      line-height: 60px;
      max-width: unset;
    }

    &__container {
      flex-direction: row-reverse;
    }

    &__wrapper-texts, &__wrapper-media {
      width: calc(100%/2);
    }

    &__wrapper-media  {
      @include aspect-ratio(2, 1);
      margin-bottom: 0;
    }

    &__wrapper-texts {
      padding-left: 124px;

      margin-left: unset;
      margin-right: unset;
      margin-bottom: 0;

      display: flex;
      align-items: center;
    }

    &__wrap {
      max-width: 80%;

      i {
        font-size: 50px;
        margin-bottom: 25px;
      }

      h4 {
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 25px;
      }

      p {
        font-size: 22px;
        line-height: 34px;
      }
    }
  }

  /*===============  CHOOSE ===============*/

  .choose {

    &__wrapper-head {
      padding-top: 87px;
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    &__subtitle {
      font-size: 52px;
      line-height: 60px;
      margin-bottom: 35px;
    }

    &__link {
      font-size: 16px;
      line-height: 20px;
    }

    
  }

  /*===============  TESTIMONIALS ===============*/

  .testimonials {

    &__container{
      padding: 100px;

      margin-left: auto;
      margin-right: auto;
    }

    &__wrap-texts {

      p {
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 22px;
      }
    }

    &__pagination {
      margin-top: 34px;
    }
  }


  /*===============  PRODUCTS ===============*/
  .products {

    &__container {
      margin-left: auto;
      margin-right: auto;

      padding-bottom: 100px;
    }

    &__title {
      padding-top: 100px;
      padding-bottom: 0;
      margin-bottom: 73px;
      max-width: 50%;
      font-size: 52px;
      line-height: 60px;
    }

    &__card {
      width: calc(100%/3.1);
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__wrapper-media {
      @include aspect-ratio(315, 315);
    }

    &__texts-small {
      h5 {
        font-size: 22px;
      }

      p {
        font-size: 16px;
      }
    }
    .swiper-wrapper {
      margin-bottom: 10px;
    }
  }

  /*===============  FOOTER ===============*/
  
  .footer {

    &__container {
      margin-left: auto;
      margin-right: auto;

      padding: 87px 0;
    }
    

    &__container-logo {
      margin-bottom: 45px;
    }

    &__nav-list {
      display: flex;
      flex-direction: row;
      position: relative;
    }

    &__nav-item {
      width: calc(100%/4);
      margin-bottom: 0!important;
    }

    &__container-secondLogo {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .popup {

    &__container {
      width: 60%;
    }

    &__wrapper-texts {
      max-width: 80%;

      img {
        width: 73px;
        height: 73px;
        margin-bottom: 30px;
      }

      h4 {
        font-weight: 500;
        font-size: 40px;
        line-height: 56px;
        margin-bottom: 30px;
      }

      p {
        font-size: 22px;
        line-height: 34px;

        &:first-of-type{
          margin-bottom: 30px;
        }
      }
    }
    
  }
}