/*=============== BASE ===============*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: var(--body-font), sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

button,
input {
  border: none;
  outline: none; }

button {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: transparent; }

/*=============== NAV ===============*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3rem;
  line-height: 3rem; }

.nav.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.header-nav__menu {
  display: none; }

.container {
  max-width: 968px; }

/*===============  COVER ===============*/
.cover {
  position: relative;
  z-index: 0; }
  .cover__wrapper-media {
    min-height: 100vh;
    display: block;
    position: relative;
    padding-top: 177.77778%; }
    .cover__wrapper-media img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .cover__wrapper-tests {
    position: absolute;
    top: 99px;
    z-index: 100;
    width: 100%;
    text-align: center; }
  .cover__subtitle {
    margin-bottom: 20px;
    color: #F0380F;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    width: 223px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .cover__title {
    line-height: 34px;
    font-size: 22px;
    font-weight: 500;
    width: 325px;
    margin: auto; }
  .cover__offre-special {
    position: absolute;
    right: 30px;
    bottom: -20px;
    width: 154.33px;
    height: 154.33px;
    border-radius: 50%;
    text-transform: uppercase;
    background: #F0380F;
    -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    -webkit-transform: rotate(29.91deg);
    -ms-transform: rotate(29.91deg);
    transform: rotate(29.91deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px;
    color: #FFF;
    text-align: center; }
    .cover__offre-special h5 {
      font-size: 12px;
      line-height: 14px; }
    .cover__offre-special p {
      font-weight: bold;
      font-size: 29px;
      line-height: 35px; }
    .cover__offre-special span {
      font-weight: 300;
      font-size: 10px;
      line-height: 12px; }

/*===============  INTRO ===============*/
.intro__container {
  padding: 50px 36px;
  text-align: center; }

.intro__wrapper-texts {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  text-align: center; }

.intro__link {
  padding: 18px 30px 20px;
  background: #F0380F;
  border-radius: 150px;
  color: #FFF;
  display: inline-block; }

/*===============  ADVANCED ===============*/
.advanced {
  margin-bottom: 25px; }
  .advanced__wrapper-texts {
    text-align: center;
    padding-left: 36px;
    padding-right: 36px;
    margin-bottom: 45px; }
  .advanced__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 22px;
    line-height: 34px; }
  .advanced__details-text {
    font-size: 16px;
    line-height: 24px; }
  .advanced__wrapper-media {
    display: block;
    position: relative;
    padding-top: 75%; }
    .advanced__wrapper-media img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }

/*===============  SITUATION ===============*/
.situation {
  padding-top: 52px; }
  .situation__subtitle {
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
    text-align: center; }
  .situation__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #F0380F;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px; }
  .situation__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .situation__wrapper-texts {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  .situation__wrapper-media {
    display: block;
    position: relative;
    padding-top: 110.93333%;
    margin-bottom: 30px; }
    .situation__wrapper-media img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }

/*=============== MEDIA QUERIES ===============*/
@media screen and (min-width: 768px) {
  .nav {
    height: 4.5rem; } }

/* For large devices */
@media screen and (min-width: 1024px) {
  .nav.container {
    margin-left: auto;
    margin-right: auto; }
  .nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-column-gap: 3.5rem;
    column-gap: 3.5rem; }
  .cover__wrapper-media {
    display: block;
    position: relative;
    padding-top: 108.54167%; }
    .cover__wrapper-media img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .cover__wrapper-tests {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 860px; }
  .cover__subtitle {
    margin-bottom: 30px; }
  .cover__title {
    font-size: 52px;
    line-height: 60px;
    width: 100%; } }
